<ion-header>
  <ion-navbar>
    <ion-title>Formularios disponibles</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top id="Busqueda">
    <ion-searchbar [(ngModel)]="nombreABuscar" [formControl]="controladorBusqueda" (ionInput)="realizarBusqueda()" [showCancelButton]="shouldShowCancel" placeholder="Filtrar por nombre"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="buscandoResultados" style="margin-bottom: 23px; margin-top: 7px; text-align: center">
    <ion-spinner></ion-spinner><br><i style="color: gray; margin-top: 8px">Buscando...</i>
  </div>
  <div *ngFor="let formulario of formularios" style="text-align: center">
    <h1 class="Nombre">{{formulario.titulo}}</h1>
    <ng-template [ngIf]="formulario.fechaFin">
      <p class="Detalles"><strong>Fecha de cierre</strong><br>{{formulario.fechaFin}}</p>
    </ng-template>
    <p class="Detalles"><strong>Disponible desde</strong><br>{{formulario.fechaCreacion}}</p>
    <button (click)="verFormulario(formulario.id)" ion-button block outline small round style="margin-bottom: 17px" icon-start>
      <ion-icon name="md-open"></ion-icon>
      Ver este formulario
    </button>
    <hr><br>
  </div>
</ion-content>
