page-formularios {
    h1.Nombre {
        font-size: 18px;
        letter-spacing: 3px;
        margin-bottom: 30px;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.375);;
        text-transform: uppercase;
    }

    p.Detalles {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .back-button.show-back-button {
        display: none;
    }
}
