<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Formularios" tabIcon="md-filing"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Yo" tabIcon="md-person"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Acerca de" tabIcon="information-circle"></ion-tab>
</ion-tabs>