<ion-header>
  <ion-navbar>
    <ion-title>Acerca de</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</ion-header>

<ion-content class="AcercaDe" padding>
  <div style="text-align: center">
    <p class="Paire">Paire</p>
  </div>
  <p class="AcercaDe">El <strong>proyecto Colibrí</strong> es un producto del grupo de desarrollo Paire (<i>«Par»</i>) para la <strong>unidad académica de Río Gallegos de la universidad nacional de la Patagonia Austral</strong>. Esta aplicación fue desarrollada durante el transcurso de la materia <strong>laboratorio de desarrollo de software</strong> de tercer año de la carrera analista de sistemas.</p>
  <p class="AcercaDe"><strong>¿Quiénes hacen al grupo “Paire”?</strong></p>
  <ul class="AcercaDe">
    <li>Cinthia Lima</li>
    <li>Ariel Machini</li>
  </ul>
  <p><strong>Mascota de la aplicación</strong><br>La mascota de la aplicación (el «Colibrí») fue diseñada por Ayelén Iturrioz.</p>
  <button ion-button onclick="window.open('https://www.uarg.unpa.edu.ar', '_system')" block color="uarg" icon-start style="margin-bottom: 20px">
    <ion-icon name="md-school"></ion-icon>
    Visitar el sitio web oficial de la UARG
  </button>
</ion-content>
