page-about {
    ion-content.AcercaDe {
        background: linear-gradient(to top right, #fc00ff, #00dbde);
    }

    p, ul.AcercaDe {
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 150%;
        margin-bottom: 22px;
    }

    p.Paire {
        color: #cbb7be;
        font-family: "Permanent Marker", cursive;
        font-size: 70px;
        text-shadow: -6px 6px 0px #cb356b,
            -12px 12px 0px #ad2d5b;
    }
}
