page-ver-formulario {
    p.Descripcion {
        color: #404040;
        font-size: 16px;
        font-style: italic;
        letter-spacing: 1px;
        line-height: 150%;
    }

    p.DescripcionCampo {
        color: #606060;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 110%;
    }
}
