<ion-header>
  <ion-navbar>
    <ion-title>{{formulario.titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-template [ngIf]="formulario.descripcion">
    <p class="Descripcion">“{{formulario.descripcion}}”</p>
  </ng-template>
  <form>
    <div *ngFor="let campo of camposFormulario" style="text-align: center">
      <ion-item>
        <ion-label color="primary" stacked>{{campo.titulo}}</ion-label>
        <ion-input placeholder="{{campo.pista}}" type="text"></ion-input>
      </ion-item>
      <div style="margin:auto; width: 84%"><p class="DescripcionCampo">{{campo.descripcion}}</p></div>
      <br>
    </div>
    <button (click)="alertarWIP()" clear ion-button block color="primary" icon-start style="margin-bottom: 20px">
      <ion-icon name="md-paper-plane"></ion-icon>
      Enviar solicitud
    </button>
  </form>
</ion-content>