<ion-header>
  <ion-navbar>
    <ion-title>Sistema Colibrí</ion-title>
  </ion-navbar>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</ion-header>

<ion-content class="Bienvenida" padding>
  <div class="Bienvenida">
    <img alt="Proyecto Colibrí" src="assets/imgs/logotipo_colibri.png" style="margin-bottom: 80px; width: 67%"/><br>
    <button ion-button (click)="verFormularios()" block color="secondary" icon-end round style="margin-bottom: 60px">
      Ver formularios
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
    <p class="Eslogan">RELLENAR FORMULARIOS <strong>NUNCA</strong><br>FUE <strong>TAN FÁCIL</strong>.</p>
  </div>
</ion-content>
