page-home {
    div.Bienvenida {
        align-items: center;
        height: 100%;
        justify-content: center;
        position: relative;
        text-align: center;
        width: 100%;
    }

    ion-content.Bienvenida {
        background-image: url("../assets/imgs/fondo_bienvenida.jpeg") !important;
        background-color: #2c2554;
        background-size: 100% 100%;
    }

    p.Eslogan {
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 23px;
        font-style: italic;
        text-shadow: 0px 2px 0px #b2a98f,
            0px 5px 10px rgba(0,0,0,0.15),
            0px 7px 2px rgba(0,0,0,0.1),
            0px 10px 30px rgba(0,0,0,0.1);
    }
}
